@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

/* Global CSS */
.btn {
  border-radius: 8px;
  background: rgb(82, 195, 3);
  width: 290px;
  height: 65px;
  align-items: center;
  padding: 21px 32px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.btn:hover {
  background-color: rgb(58, 136, 3);
  color: rgb(226, 220, 220);
}

/* Banner Part */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-content {
  width: 1023px;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content h1 {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.banner-content #p1 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  margin-bottom: 24px;
}

.banner-content #p2 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 70px;
}

#food {
  width: 1320px;
  height: 900px;
  margin: 70px auto;
}

.food-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-parent {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 1320px;
  height: 522px;
}

.cards-child {
  max-width: 424px;
  max-height: 522px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-img {
  max-width: 424px;
  height: 283px;
  margin: 32px 0px;
}

.food-name {
  width: 205px;
  height: 56px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  margin: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  padding: 14px 32px 14px 32px;
}

#f1 {
  font-weight: 500;
  font-size: 24px;
  color: #101010;
  opacity: 0.6;
  margin-bottom: 16px;
  text-align: center;
}

.food-content h1 {
  font-weight: 700;
  font-size: 48px;
  color: #101010;
  margin-bottom: 45px;
}

.food-offer {
  font-weight: 600;
  font-size: 40px;
  color: #101010;
  margin-bottom: 22px;
}

.food-text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #101010;
  opacity: 0.7;
}

.food-btn {
  margin-top: 100px;
}
